.topbar {
    z-index: 9999;
    height: 70px;
    top: 0;
    right: 0;
    left: 0;
    transition: background 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    background-color: #0088cc;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
@media (min-width: 768px){
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
a.homelogo i {
    display: none;
}
.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}
.logo {
    width: auto;
    height: 55px;
}
@media (min-width: 768px){
.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.top-right {
    float: right;
    display: inline-block;
    margin-bottom: 0;
    margin-top: -56px;
}
.top-right li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.searchbar input, .searchbar input:focus {
    height: 38px;
    border: 0;
    outline: 0;
    border-radius: 0;
    box-shadow: 0 0 5px #000;
    transition: width 0.4s linear;
    width: 300px;
    padding: 0 10px;
    display: none;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control {
    border: none;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
}
.searchbar a, .searchbar a:hover {
    color: #fff;
}
.searchbar a i {
    font-size: 24px;
    margin-left: 10px;
}
.fa-search-plus:before {
    content: "\f00e";
}
.top-right li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.rules-apk a {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    line-height: 1;
}
b, strong {
    font-weight: bolder;
}
.top-right li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.bespan span {
    display: block;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    line-height: 1;
}
.bespan span sub {
    font-size: 16px;
    bottom: inherit;
    line-height: normal;
}
sub {
    bottom: -0.25em;
}
sub, sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: initial;
}
.bespan span i.fa.fa-landmark {
    display: none;
}
.top-right li:last-child {
    margin-right: 0;
}
.top-right li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.dropdown, .dropend, .dropstart, .dropup {
    position: relative;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.topright_drop .dropdown-toggle {
    color: #fff;
    font-size: 16px;
}

.dropdown-toggle {
    white-space: nowrap;
}
.topright_drop .dropdown-toggle i.fa-caret-down {
    display: none;
}
.topright_drop .dropdown-toggle i.fa-chevron-down {
    display: inline-block;
}
.fa-chevron-down:before {
    content: "\f078";
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #00000026;
    border-radius: 0.25rem;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-menu-right a {
    font-size: 14px;
    text-transform: capitalize;
    padding: 2px 8px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: initial;
    border: 0;
}
#marquee_text {
    align-items: center;
    justify-content: center;
    float: left;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    margin-top: -14px;
}

@media (min-width: 576px){
.d-sm-block {
    display: block!important;
}
}
.d-none {
    display: none!important;
}

@media (min-width: 576px){
.d-sm-none {
    display: none!important;
}
}
.d-block {
    display: block!important;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.bespan span:last-child {
    text-decoration: underline;
}


a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #222222
  }
  
  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
 
    border-radius: 4px;
    padding: 0px 24px 0px 0px;
  color: #fff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
  }
  
  .dd-button:hover {
    // background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }