<div  class="topbar">
    <div  class="container-fluid">
        <div  class="row">
            <div  class="col-md-4 col-4">
                <a  href="/sports/4" routerlink="/sports/4" class="homelogo">
                    <i  class="fa fa-home"></i>
                    <img  src="https://dzm0kbaskt4pv.cloudfront.net/v2/static/themes/diamondexch9.com/front/logo.png" class="img-fluid logo">
                </a>
            </div>
            <div  class="col-md-8 col-8">
                <ul  class="top-right">
                    <li  class="searchbar"><!---->
                        <input  id="SearchInput" typeaheadoptionfield="name" placeholder="All Events" autocomplete="off" class="form-control ng-untouched ng-pristine ng-valid" style="display: none;" aria-expanded="false" aria-autocomplete="list"><!---->
                        <a  href="javascript:void(0)">
                            <i  class="fa fa-search-plus"></i>
                        </a>
                    </li>
                    <li  class="rules-apk">
                        <a  href="/rules" routerlink="/rules">
                            <b >Rules</b>
                        </a>
                    </li>
                    <li  class="bespan">
                                <span >
                                    <sub >Balance:</sub>
                                    <i  class="fa fa-landmark"></i>
                                    <b >4</b></span>
                                    <span >Exp<sub >osure</sub>: 
                                        <b >0</b></span></li>
                                        <li  class="dropdown topright_drop">
                                            <label class="dropdown">

                                                <div class="dd-button">
                                                  Dropdown
                                                </div>
                                              
                                                <input type="checkbox" class="dd-input" id="test">
                                              
                                                <ul class="dd-menu">
                                                  <li>Action</li>
                                                  <li>Another action</li>
                                                  <li>Something else here</li>
                                                  <li class="divider"></li>
                                                  <li>
                                                    <a href="http://rane.io">Link to Rane.io</a>
                                                  </li>
                                                </ul>
                                                
                                              </label>
                                        </li>
                                    </ul>
                                    <marquee  id="marquee_text" scrollamount="3" class="searchClose m-marquee">Enjoy our latest live dealer games Teenpatti Test and Queen Race in Exchange Games section.
 </marquee>
</div>
<!-- <div  class="col-12 d-block d-sm-none">
    <div  class="searchM">
        <input  type="text" placeholder="Search Here ..." typeaheadoptionfield="name" class="ng-untouched ng-pristine ng-valid" aria-expanded="false" aria-autocomplete="list">
        <div  class="search">
            <i  class="fa fa-search"></i>
        </div>
    </div>
    <marquee  scrollamount="3" class="searchClose m-marquee">Welcome to Our Exchange.</marquee>
</div> -->
</div>
</div>
</div>

<app-navbar></app-navbar>
