<!-- 
  
    <div class="login">
 
    <form >
  
      <p >
        <input type="email" placeholder="Email" formControlName="email">
      </p>
  
      <div  class="help-block">
        
      </div>
  
      <p >
        <input type="password" placeholder="Password" formControlName="password">
      </p>
  
      <div  class="help-block">
       
      </div>
  
      <p>
        <input type="submit" value="Log in">
      </p>
    </form>
  </div> -->



  <div class="login">
    <div class="wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="loginInner1">
              <div class="log-logo m-b-20 text-center">
                <img src="https://dzm0kbaskt4pv.cloudfront.net/v2/static/themes/diamondexch9.com/front/logo.png" class="logo-login"></div>
                <div class="featured-box-login featured-box-secundary default">
                  <h4 class="text-center"> LOGIN<i class="fa fa-hand-o-down" style="font-size:24px"></i></h4>
                  <form novalidate="" role="form" autocomplete="off" class="ng-untouched ng-pristine ng-invalid">
                    <div class="form-group m-b-20">
                      <input name="User Name" placeholder="User Name" formcontrolname="username" type="text" aria-required="true" aria-invalid="true" class="form-control ng-untouched ng-pristine ng-invalid">
                      <i class="fa fa-user"></i><!---->
                    </div>
                    <div class="form-group m-b-20">
                      <input name="Password" placeholder="Password" type="password" formcontrolname="password" aria-required="true" aria-invalid="true" class="form-control ng-untouched ng-pristine ng-invalid">
                      <i class="fa fa-key"></i>
                      <!----></div>
                      <div class="form-group text-center mb-0">
                        <button type="submit" class="btn btn-submit btn-login"> Login <i class="ml-2 fa fa-sign-in-alt"></i>
                          <!----><!---->
                        </button>
                      </div>
                      <small class="recaptchaTerms"> This site is protected by reCAPTCHA and the Google <a href="javascript:void(0)"> Privacy Policy</a> and 
                        <a href="javascript:void(0)"> Terms of Service</a> apply. </small>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>